<!DOCTYPE html>
html
  head
    title {% block title %} {% endblock %}
    link(rel="stylesheet" href="{{assetUrl ~ '/css/main.min.css'}}")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(charset="UTF-8")
    meta(http-equiv="language" content="{{lang}}")
    link(rel="shortcut icon" href="{{assetUrl ~ '/img/favicon.ico'}}" type="image/x-icon")
    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
  body
    | {% block content %} {% endblock %}

  #scripts
    script(typ="text/javascript" src="{{assetUrl ~ '/js/common.min.js'}}")
    | {% block scripts %} {% endblock %}
