<!DOCTYPE html>
html
  head
    title Test
    link(rel="stylesheet" href="resources/assets/css/main.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(charset="UTF-8")
    link(rel="shortcut icon" href="resources/assets/img/favicon.ico" type="image/x-icon")
    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
body.overflow
  | {% include 'partials/nav.twig' %}
  | {% block content %} {% endblock %}

  #scripts
    script(typ="text/javascript" src="resources/assets/js/common.min.js")
    | {% block scripts %} {% endblock %}
