$offblack: #2d2c2f
$offwhite: #fefefe
$backgroundwhite: #e3e3e3
$menuwhite: #FAFAFA
$dividerwhite: rgba(0,0,0,0.12)

$youtube: #cd201f
$github: #333
$behance: #1769ff
$facebook: #3b5998
$soundcloud: #ff8800
$instagram: #c13584
$linkedin: #0077b5
$flickr: #ff0084
$googleplus: #dd4b39
