{% extends "templates/basic.twig" %}
{% block title %} Mojodice | {{article.getTitle(lang)}} {% endblock %}
{% block content %}<header><h1>{{article.getTitle(lang)}}</h1><dl class="dates"><dt class="mdi mdi-24px mdi-calendar"></dt><dd>{{article.created_at}}</dd><dt class="mdi mdi-24px mdi-calendar-check"></dt><dd>{{article.updated_at}}</dd></dl></header><div class="article-background"><img class="heroimage"/></div>{% endblock %}