| {% extends "templates/basic.twig" %}
| {% block title %} Portfolio {% endblock %}
| {% block content %}

| {% if lang == 'nl' %}
| {% set no_items = "Geen overeenkomende items gevonden."%}
| {% else %}
| {% set no_items = "No matched items found."%}
| {% endif %}

header.portfolio
  | {% include 'partials/nav.twig' with {'current_page': 'portfolio', 'inverse': true} %}
    
  button.filter-button
    .filter-box
      span.filter-inner
  
  h1 Portfolio
  
  .divider
  
  .portfolio-filter-container    
    .search-wrapper
      input#search
      i#search-icon.mdi.mdi-magnify.mdi-24px
      
  
.portfolio-container
  #portfolio-grid
    | {% for article in articles %}
    |   {% include 'partials/portfolio-item.twig' with {'article': article, 'lang': lang} %}
    | {% endfor %}
    
.filter-wrapper
  
  button.filter-button
    .filter-close-box
  
  .filter-header
    h2 Filters
  
  .filter-container
    section.sortby
      h3 {% if lang == 'nl' %}Sorteren op{% else %}Sort By{% endif %}
      
      .filter-items-container
        button.sortby-filter.filter-btn#newest
          span {% if lang == 'nl' %}Datum {% else %}Date {% endif %}
          span.mdi.mdi-16px.mdi-chevron-down
        button.sortby-filter.filter-btn#abc
          span {% if lang == 'nl' %}Alfabetisch {% else %}Alphabetical {% endif %}
          span.mdi.mdi-16px.mdi-chevron-down
        button.sortby-filter.filter-btn#lastupdate
          span {% if lang == 'nl' %}Bijgewerkt {% else %}Updated {% endif %}
          span.mdi.mdi-16px.mdi-chevron-down
        button.sortby-filter.filter-btn#oldest
          span {% if lang == 'nl' %}Datum {% else %}Date {% endif %}
          span.mdi.mdi-16px.mdi-chevron-up
        button.sortby-filter.filter-btn#xyz
          span {% if lang == 'nl' %}Alfabetisch {% else %}Alphabetical {% endif %}
          span.mdi.mdi-16px.mdi-chevron-up
        button.sortby-filter.filter-btn#oldupdate
          span {% if lang == 'nl' %}Bijgewerkt {% else %}Updated {% endif %}
          span.mdi.mdi-16px.mdi-chevron-up
        
      
    section.category
      h3 {% if lang == 'nl' %}Categoriën{% else %}Categories{% endif %}
      
      .filter-items-container
        | {% for category in categories %}
        button.category-filter.filter-btn(id="{{category.getName(lang)}}")
          span {{category.getName(lang)}}
        | {% endfor %}

span#no-items-found {{no_items}}
#portfolio-background

| {% endblock %}
